<ion-card class="box">
  <img src="{{image}}" alt="">
  <ion-card-header>
    <ion-card-title class="title"><i class="fas fa-map-marker-alt"></i> {{title}} </ion-card-title>
  </ion-card-header>
  <ion-card-content class="content">
    <p>
      <ng-content></ng-content>
    </p>
    <div class="stars">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
    </div>
    <div class="price">£90.00 <span>£120.00</span></div>
    <a href="#" class="btn">book now</a>
  </ion-card-content>
</ion-card>