.heading {
    text-align: center;
    padding   : 2.5rem 0;

    span {
        font-size     : 3.5rem;
        font-weight   : bolder;
        background    : rgba(var(--ion-color-secondary-shade-rgb), 0.2);
        color         : var(--ion-color-secondary);
        border-radius : .5rem;
        padding       : .2rem 1rem;
        margin-right  : .5rem;
        text-transform: uppercase;
    }

    span.space {
        background: none;
        margin    : 0;
    }
}