<ion-toolbar color="secondary" class="header">
  <div class="logo-container-sm ion-hide-lg-up">
    <app-logo></app-logo>
  </div>
  <ion-buttons slot="start" class="ion-hide-lg-up">
    <ion-menu-button mode="ios">
      <ion-icon id="menu-bar" class="fas fa-bars"></ion-icon>
    </ion-menu-button>
  </ion-buttons>

  <ion-title slot="start" class="ion-hide-lg-down">
    <app-logo></app-logo>
  </ion-title>
  <ion-buttons slot="start" class="ion-hide-lg-down">
    <app-navbar></app-navbar>
  </ion-buttons>

  <ion-buttons class="icons" slot="end">
    <i class="fas fa-search" [class]="{'fa-search': !searchbarActive, 'fa-times': searchbarActive}" id="search-btn"
      (click)="toggleSearchBar()"></i>
    <i class="fas fa-user" id="search-btn" (click)="loginClick.emit()"></i>
  </ion-buttons>
</ion-toolbar>

<div class="search-bar-container" [class]="{active: searchbarActive}">
  <ion-searchbar id="search-bar" placeholder="search..."></ion-searchbar>
  <label for=" search-bar " class=" fas fa-search"></label>
</div>