<ion-toolbar color="primary" class="header">
  <ion-buttons slot="start"  class="ion-hide-lg-up">
    <ion-menu-button mode="ios">
      <ion-icon id="menu-bar" class="fas fa-bars"></ion-icon>
    </ion-menu-button>
  </ion-buttons>
  <ion-title slot="start" class="ion-hide-lg-down">
    <app-logo></app-logo>
  </ion-title>
  <ion-title slot="secondary" class="ion-hide-lg-up">
    <app-logo></app-logo>
  </ion-title>
  <ion-buttons slot="start" class="ion-hide-lg-down">
    <app-navbar></app-navbar>
  </ion-buttons>

  <ion-buttons class="icons" slot="end">
    <i class="fas fa-search" id="search-btn"></i>
    <i class="fas fa-user" id="search-btn"></i>
  </ion-buttons>
</ion-toolbar>