.header {
    padding: .9rem 9% !important;

    ion-title {
        padding: 0;
    }

    .navbar {
        a {
            color    : var(--ion-color-primary-contrast);
            font-size: 2rem;
            margin   : 0 0.8rem;
        }

        a:hover {
            color: var(--ion-color-secondary);
        }
    }

    .icons {
        i {
            font-size   : 2.5rem;
            color       : var(--ion-color-primary-contrast);
            cursor      : pointer;
            margin-right: 2rem;
        }

        i:hover {
            color: var(--ion-color-secondary);
        }
    }

    #menu-bar {
        border: 0.1rem solid white;
        border-radius: .5rem;
        font-size: 3rem;
        padding: 0.5rem 1.2rem;
        cursor: pointer;
    }

    ion-menu-button {
        width: auto;
        height: auto;
    }
}

@media (max-width: 991px) {
    .header {
        padding: .9rem 2rem !important;
    }
}

