<ion-toolbar color="primary" class="header">
  <ion-title slot="start">
    <app-logo></app-logo>
  </ion-title>
  <ion-buttons slot="start" class="navbar">
    <a href="#home">home</a>
    <a href="#book">book</a>
    <a href="#packages">packages</a>
    <a href="#services">services</a>
    <a href="#gallery">gallery</a>
    <a href="#review">review</a>
    <a href="#contact">contact</a>
  </ion-buttons>

  <ion-buttons class="icons" slot="end">
    <i class="fas fa-search" id="search-btn"></i>
    <i class="fas fa-user" id="search-btn"></i>
  </ion-buttons>
</ion-toolbar>