* {
    font-family   : "Nunito", sans-serif;
    transition    : all 0.2s linear;
    text-transform: capitalize;
}

*::selection {
    background-color: var(--ion-color-secondary);
    color           : white;
}

html {
    font-size      : 62.5%;
    scroll-padding : 6rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ion-toolbar {
    padding: .5rem 9% !important;

    ion-title {
        padding: 0;
    }
}


.header {
    .navbar {
        a {
            color    : var(--ion-color-primary-contrast);
            font-size: 2rem;
            margin   : 0 0.8rem;
        }

        a:hover {
            color: var(--ion-color-secondary);
        }
    }

    .icons {
        i {
            font-size   : 2.5rem;
            color       : var(--ion-color-primary-contrast);
            cursor      : pointer;
            margin-right: 2rem;
        }

        i:hover {
            color: var(--ion-color-secondary);
        }
    }
}