<section class="footer">
  <div class="box-container">
    <app-footer-box class="box" title="about us">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime veniam voluptatibus quas ipsa saepe ipsam
      fugit voluptatum itaque expedita eaque. Facilis totam est reprehenderit accusamus ratione alias quam suscipit
      maxime.
    </app-footer-box>
    <app-footer-box class="box" title="branch locations" [links]="branchLinks"></app-footer-box>
    <app-footer-box class="box" title="quick links" [links]="quickLinks"></app-footer-box>
    <app-footer-box class="box" title="follow us" [links]="socialLinks"></app-footer-box>
  </div>

  <h1 class="credit">
    created by <span> Behzad </span> | all rights reserved!
  </h1>
</section>