.logo {
    color         : var(--ion-color-primary-contrast);
    font-size     : 3rem;
    font-weight   : bolder;
    text-transform: uppercase;
}

.logo span {
    color: var(--ion-color-secondary);
}