.logo {
    color         : var(--ion-color-secondary-contrast);
    font-size     : 2.5rem;
    font-weight   : bolder;
    text-transform: uppercase;
}

.logo span {
    color: var(--ion-color-primary);
}