<ion-menu contentId="menu-content" menuId="mainMenu" side="start" swipeGesture="false" type="overlay"
  class="ion-hide-lg-up">
  <ion-content>
    <app-navbar></app-navbar>
  </ion-content>
</ion-menu>
<ion-header [translucent]="true">
  <app-header (loginClick)="loginFormActive = true;"></app-header>
</ion-header>
<ion-content [fullscreen]="true" id="menu-content">
  <app-home-section></app-home-section>
  <app-book-section></app-book-section>
  <app-packages-section></app-packages-section>
  <app-services-section></app-services-section>
  <app-gallery-section></app-gallery-section>
  <app-review-section></app-review-section>
  <app-contact-section></app-contact-section>
  <app-brand-section></app-brand-section>
  <app-footer-section></app-footer-section>
</ion-content>
<app-login-form [(formActive)]="loginFormActive"></app-login-form>